<!DOCTYPE html>
<html>
    <head>
      <%- include('./partials/head'); %>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <body style="display: grid;grid-template-columns: auto; ">
    <div><h1>Login</h1>
    <ul>
      <li><%= messages.success_msg1 %></li>
    <% if(messages.success_msg1) {%>
     <% } %>
      <% if(messages.success_msg2) {%>
        <li><%= messages.success_msg2 %></li>
     <%}else {%><li>&nbsp&nbsp&nbsp&nbsp&nbsp</li> <% } %>
     <% if(messages.error){ %>
        <li><%= messages.error %></li>
     <%}else {%><li>&nbsp&nbsp&nbsp&nbsp&nbsp</li> <% } %>
     </ul>
    </div>
    <!-- <form action="/users/login" method="post" target="_self"> -->
      <div style="display: flex;flex-direction: column;">
        <label for="email">Email:</label>
        <input autofocus  type="email" id="email" name="email"  required maxlength="50">
      </div>
      <div style="display: flex;flex-direction: column;">
        <label for="password">Password:</label>
        <input type="password" autocomplete="current-password" id="password" name="password"  required maxlength="20">
      </div>
      <div style="display: flex;flex-direction:row;">
        <input type="button" onclick="togglePw('')" style="width:1rem;height:1rem" /> Show Password
      </div>
      <div style="margin-left: 2rem;">
        <input type="submit" onclick="togglePw('password')" value="Login" />
      </div>
    <!-- </form> -->
    <div style="margin-left: 2rem;">
      <a href="/signup">Need to Sign up?</a>
      <footer>
  <%- include('./partials/home_footer'); %>
</footer>
</div>
<script>
function togglePw(set) {
  let pw = document.getElementById("password");;
  if(set==='password')pw.type = "text"
  if (pw.type === "password") {
    pw.type = "text";
  } else {
    pw.type = "password";
  }
}
</script>
  </body>
  </html>
  <!-- onclick="setTimeout(window.history.back(1),10000)" -->